#untrack Folders
rootfs
**/*rootfs*
**/*cache*
**/*packageManager.log*
**/*Cache*
**/*proot*
**/*experiment*
**/*raisetheempires-dev*
**/*lastCompileArch*
**/*saveSnapshot*
**/*compiledbin*
**/*packageManager.log*
**/*.log*
empires-server
