#untrack Folders
rootfs
**/*rootfs*
**/*cache*
**/*packageManager.log*
**/*Cache*
**/*proot*
**/*experiment*
**/*raisetheempires-dev*
**/*lastCompileArch*
**/*saveSnapshot*
**/*compiledbin*
**/*packageManager.log*
**/*.devflag*
**/*.log*
**/*tmp_sanitycheck*
empires-server
